<div class="app-header">

  <div class="header-top">
    <div class="brand">
      <button mat-icon-button class="menu-btn" (click)="onMenuToggleDispatch()">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/static/welcome" class="brand-link">
        <div class="brand-logo">
          <img src="/assets/logo.png" alt="IDE" class="brand-logo-img">
        </div>
        <div class="brand-text">
          <span class="brand-name">IDE</span>
          <span class="brand-subtitle">Ethics, science and technology</span>
        </div>
      </a>
    </div>

    <div class="header-right">
      <ng-container *ngIf="!isAuthorized">
        <a routerLink="/" class="auth-link">
          <mat-icon style="font-size:16px;vertical-align:middle;margin-right:4px">arrow_back</mat-icon>Regresar
        </a>
      </ng-container>
      <ng-container *ngIf="isAuthorized">
        <div class="user-info">
          <div class="user-avatar" [matMenuTriggerFor]="cuentaMenu" title="Mi cuenta">
            {{ user ? (user.nombre.charAt(0)) + (user.apellido.charAt(0)) : 'AD' }}
          </div>
          <span class="sucursal-badge" *ngIf="user?.sucursalNombre">
            <mat-icon>store</mat-icon>{{ user?.sucursalNombre }}
          </span>
        </div>

        <mat-menu #cuentaMenu="matMenu">
          <button mat-menu-item (click)="verPerfil()">
            <mat-icon>account_circle</mat-icon>
            <span>Ver mi perfil</span>
          </button>
          <button mat-menu-item (click)="cambiarPassword()">
            <mat-icon>lock</mat-icon>
            <span>Cambiar contraseña</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="onSignOut()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesión</span>
          </button>
        </mat-menu>
      </ng-container>
    </div>
  </div>

  <nav class="header-nav" *ngIf="isAuthorized">
    <a routerLink="/static/welcome" routerLinkActive="active">Inicio</a>
    <a routerLink="/matriculas" routerLinkActive="active" *ngIf="tieneModulo('MATRICULAS')">Estudiantes</a>
    <a routerLink="/facturacion" routerLinkActive="active" *ngIf="tieneModulo('PAGOS')">Facturación</a>
    <a routerLink="/academico" routerLinkActive="active" *ngIf="tieneModulo('ACADEMICO')">Académico</a>
    <a routerLink="/empleados" routerLinkActive="active" *ngIf="tieneModulo('EMPLEADOS')">Empleados</a>
    <a routerLink="/reportes" routerLinkActive="active" *ngIf="tieneModulo('REPORTES')">Reportes</a>
  </nav>

</div>
