<mat-sidenav-container>
  <mat-sidenav #menu>
    <app-menu-list (menuToggle)="menu.toggle()" (signOut)="onSignOut()"
    [isAuthorized]="isAuthorized$ | async"
    [modulos]="(user$ | async)?.modulos"
    ></app-menu-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header *ngIf="!(isLanding$ | async)"
    (menuToggle)="menu.toggle()"
    [isAuthorized]="isAuthorized$ | async"
    [user]="user$ | async"
    (signOut)="onSignOut()"></app-header>
    <main [class.no-header]="isLanding$ | async">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
